<div [className] = "'headers'">
  <h1 routerLink = "">Home</h1>
  <button [className] = "'buttons'" routerLink = "posts">Posts</button>
  <button [className] = "'buttons'" routerLink = "comments">Comments</button>
  <button [className] = "'buttons'" routerLink = "albums">Albums</button>
  <button [className] = "'buttons'" routerLink = "photos">Photos</button>
  <button [className] = "'buttons'" routerLink = "todos">Todos</button>
  <button [className] = "'buttons'" routerLink = "users">Users</button>
  <button [className] = "'buttons'" routerLink = "users-posts">Users-Posts</button>

</div>
<div>
  <router-outlet></router-outlet>

</div>
